.container {
    display: flex;
    justify-content: space-between;
    height: 45px;
    background-color: #d7ecfa;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    /* animation: itemAdd 0.5s ease-in; */
}

/* @keyframes itemAdd {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0);
    }
} */

.input {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: inherit;
    color: #11252e;
    width: 400px;
}

.inputCheckTrue {
    text-decoration: line-through solid #234252;
    background-color: #eceef0;
}

.input input:first-child {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.input input {
    font-size: 18px;
    border-radius: 5px;
    width: 80%;
    text-align: center;
    background-color: #fcfcfc;
    border-width: 2px;
    font-family: inherit;
}

.inputWarning {
    border-color: red;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons img {
    display: inline-block;
    width: 17px;
    height: 17px;
    cursor: pointer;
    transition: scale 0.2s linear;
}

.buttons img:first-child {
    margin-right: 10px;
}
