.container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.input {
    width: 400px;
    height: 36px;
    outline: none;
    border: 2px solid black;
    padding: 0 20px;
    color: #0e638c;
    font-size: 20px;
    font-style: italic;
}

.input:focus {
    border: 2px solid #f1c981;
}

.addButton {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #59a3c8;
    border: none;
    color: white;
    font-size: 20px;
}

.addButton:active {
    background-color: #44758d;
}
