.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.6);
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    padding: 15px;
    background: #fcfcfc;
    border-radius: 16px;
    width: 300px;
    height: 200px;
}

.modalContent img {
    width: 70px;
}

.modalContent p {
    margin-top: 8px;
    margin-bottom: 15px;
}

.innerButtonsWrapper {
    min-width: 280px;
    display: flex;
    justify-content: space-around;
}

.modalContent button {
    display: inline-block;
    cursor: pointer;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(243, 32, 32);
    color: #fcfcfc;
    font-size: 18px;
    font-family: inherit;
}

.modalContent button:first-child {
    background-color: rgb(57, 204, 20);
}

.modalContent button:hover {
    scale: 1.08;
}

.modalContent button:active {
    background-color: rgba(0, 0, 0, 0.4);
}

.active {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
